@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(349deg, #08102c 0%, #030506 50%, #1a212a 100%);
    /* background-image: linear-gradient(1deg, #252e39  0%, #1c1f22 50%, #252e39 100%); */
    background-repeat: no-repeat;
    

}

.maxcontainer{
    max-width: 1440px;
    margin: 0px auto;
}

.container1{
   top: 0px;
   left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 8px #17233b;
     width: 100%;
     height: 74px;
     
   
   


}
.logo img{
    position: relative;
    top: 0px;
    left: -124px;
    width: 262px;
}
.navbar ul{
    display: flex;
    flex-direction: row;

}
.navbar a{
    text-decoration: none;
    color: black;
  

}
.navbar li {
    color: #aeaeae;
    text-decoration: none;
    list-style: none;
    margin-right: 87px;
    position: relative;
    right: -71px;
    font-size: 14px;
    font-family: monospace;
    top: 1px;
    font-weight: 600;
transition: all 1s ease;
letter-spacing: 2px;


}
.navbar li:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}



.container2{
    width: 200px;
}

.social-media{

   position: relative;
    top: 252px;
    left: 37px;
    width: 52px;
}
.social-media svg{
 display: block;
margin-bottom: 12px;
    color: #818181;
    transition: all 1s ease;
}
.social-media svg:hover{
    transform: scale(0.8);
    
}
.social-media span{
    font-weight: 600;
    display: inline-block; 
    transform: rotate(90deg); 
    transform-origin: left bottom;
    z-index: 1;
  position: relative;
    top:0px;
    left:10px;
    text-decoration: none;
    color: #818181;
    font-family: 'Courier New', Courier, monospace;
transition:  all 1s ease ;
}






.left1{
    position: relative;
    top: -124px;
    left: 155px;
    width: 799px;
    
}
.left1 a{
    text-decoration: none;
 
    color: rgb(17, 4, 91);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  
transition:  all 1s ease ;
}
.left1 span{
  
    font-family: "Orbitron", serif;
 position: relative;
top: 65px;
    left: 32px;
 cursor: pointer;
 color: rgb(138 138 141);
}

.left1 h2{
width: 656px;
  position: relative;
     top: 54px;
    left: 28px;
  font-size: 59px;
    font-family: "Orbitron", serif;
   cursor: pointer;
   color: #a9a9a9;

}
.left1 h1{
    top: 6px;
    font-size: 43px;
    font-family: "Orbitron", serif;
    cursor: pointer;
    position: relative;
    left: 31px;
    color: #7f7f83;
    width: 601px;

    
}
.left1 h4{
  
    /* font-size: 22px; */
    font-family: "Orbitron", serif;
    cursor: pointer;
    position: relative;
   position: relative;
    left: 34px;
    top: -12px;
    color: #8a8888;
    line-height: 34px;
   
}

.left1 h5{
    font-family: "Orbitron", serif;
    cursor: pointer;
    position: relative;
      left: 35px;
    top: -32px;
    color:#8a8888;
    font-size: 15px;
}

.left1 #callme{
   
  
    color: rgb(15 110 115);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}
.left1 #callme:hover{
    font-size: larger;
}



.right1{
    position: fixed;
}
.right1 a{
  
  position: relative;
 
  top: -513px;
  left: 1359px;
    text-decoration: none;
    color: #818181;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: inline-block; 
    transform: rotate(90deg); 
    transform-origin: left bottom; 
transition:  all 1s ease ;
}
.right1 span{
    position: relative;
    top:-8px;
    left: 40px;

}
.right1 a:hover{
margin-top: 12px;
}

 

h1{
    color: rgb(132 132 129);
    width: 400px;
    font-family: "Orbitron", serif;
    position: relative;
    top: 139px;
    left: 558px;
    font-size: 43px;
}



  .container3{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
margin: 229px 52px;
;
 
  }
  h1{
    color: rgb(132 132 129);
    width: 400px;
    font-family: "Orbitron", serif;
    position: relative;
    top: 139px;
    left: 558px;
    font-size: 43px;
}

  .left2{
    
    width: 650px;
    margin: 0px 66px
  }


h1:hover{

}

  .left2 h2{
    font-family: "Orbitron", serif;
    font-size: 22px;
    position: relative;
    top: -22px;
    left: 12px;
    color: #9d9898;
  }
.left2 p{
    color: #818181;
    font-family: "Orbitron", serif;
    margin: -2px 12px;
    width: 643px;
    line-height: 29px;
  }




  .right2 img{
    height: 291px;
    width: 315px;
    position: relative;
    top: 65px;
    left: -140px;
    border-radius: 40%;
    transition: all 1s ease;
    box-shadow: 0px 0px 12px #c8cbc6;
  }
 
.right2 img:hover{
    box-shadow:  0px 0px 12px rgb(106, 104, 103);
    padding: 12px;
    border-radius: 12px;
}






h2{
    font-family: "Orbitron", serif;
    position: relative;
    top: -10px;
    left: 512px;
    width: 424px;
    font-size: 30px;
    color: #90908d;
}

.container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 96px 0px;
}

.left3{
    /* background-color: #0b2f4d; */
    height: 200px;
    padding: 25px;
    position: relative;
    left: 80px;
    top: 20px;
}

.left3 h3{
    font-family: "Orbitron", serif;
font-size: 13px;
color: #0068e7;
line-height: 0px;
}
.left3 p{
    background-color: #3334371a;
    width: 570px;
    font-family: "Orbitron", serif;
    font-size: 22px;
    padding: 41px 24px;
    line-height: 36px;
    border-radius: 14px;
    color: #a39e9e;


}
.right3{
   position: relative;
    top: 54px;
    left: -124px;
}

.right3 img{
    height: 330px;
    width: 510px;
    margin: 0px 81px;
    border-radius: 32px;
    transition: all 1s ease;
    opacity: 0.1;
}
.right3 img:hover{

transform: scale(1.1);
opacity: 0.3;
box-shadow: 0px 0px 12px rgb(7, 164, 212);
}




.container5{
    display: flex
    ;
        flex-direction: row;
        justify-content: space-between;
        gap: -12px;
        margin-top: 137px;
}
.right4{
    height: 200px;
    padding: 25px;
    position: relative;
    left: -137px;
    top: 20px;
}

.right4 h3{
    font-family: "Orbitron", serif;
font-size: 13px;
color: #0068e7;
line-height: 0px;
text-align: right;
}

.right4 p{
    
        background-color: #3334371a;
        width: 570px;
        font-family: "Orbitron", serif;
        font-size: 22px;
        padding: 41px 24px;
        line-height: 36px;
        border-radius: 14px;
        color: #a39e9e;
    
    
}

.left4{
    position: relative;
    top: 40px;
    left: 65px;
}


.left4 img{
    height: 330px;
    width: 510px;
    margin: 0px 81px;
    border-radius: 32px;
    transition: all 1s ease;
    opacity: 0.1;
}
.left4 img:hover{

transform: scale(1.1);
opacity: 0.3;
box-shadow: 0px 0px 12px rgb(7, 164, 212);

}











.contact-container {
    width: 90%;
    max-width: 639px;
    text-align: center;
    margin-top: 359px;
    margin-left: 398px;
}
.contact-container h3 {
    font-family: "Orbitron", serif;

    font-size: 36px;
    color: #999c9c;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}
.contact-container h1::after {
   
    font-size: 100px;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ffffff40;
    border-radius: 6px;
    outline: none;
    background: #262b2d29;
    color: white;
}
textarea {
    /* resize: none; */
    height: 100px;
}
button {
    background-color: #a18e9252;
    color: #fcfcfc;
    border: none;
    padding: 14px 37px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 213px;
    margin-left: 212px;
}
button:hover {
    background-color: #9fa1a1;
}






.Footer{
    margin-top: 107px;
}
.Footer h4{
   
    text-align: center;
    font-family: "Orbitron", serif;
    color:#818181;
    font-size: 12px;
  
}
.Footer h4:hover{
    color:  #09acf3;
}